* 
{
    margin: 0;
    padding: 0;
}
  
html, body 
{
    height: 100%;
    background-color: #f0f8ff;
}

li 
{
    width: 200px;
    padding: 20px;
    text-align: center;
    border: 1px solid black;
    font-size: large;
    
}

.navigation
{ 
    color: #262727;
}

.menuimg
{
    width: 100px;

    &:hover
    {
        opacity: 0.5;
        transition: opacity 250ms ease-in;
    }
}

#navigation
{
    display: none; 
}

#nocolor
{
    background-color: #f0f8ff;
}

#redcolor
{
    background-color: #ff6464;
}

#orangecolor
{
    background-color: #fcb36a;
}

#yellowcolor
{
    background-color: #f8f85b;
}

#greencolor
{
    background-color: #bcf384;
}

#bluecolor
{
    background-color: #4848d6;
}

#purplecolor
{
    background-color: #ae71eb;
}